/**
 * Import
 */
 @import 'src/styles/vars';

 #app {
    //  background-color: black;
     display: flex;
     flex-direction: column;
     width: 100%;
     min-height: 100%;
 }
 
 html {
    //  height: 100%;
    //  body {
    //      min-height: 100%;
    //  }
 }
 
 #root {
     min-height: 100vh !important;
 }
 
 #app {
     min-height: 100vh;
 }
 
 body {
  font-family: 'Gayathri', sans-serif;
  background-image: url(../../data/metalik.jpg);
  background-attachment: fixed;
  backdrop-filter: blur(1px) grayscale(80%) brightness(10%);
}